analyse-concurentielle-.json
{
  "createdAt": "2025-06-02T12:22:44.398Z",
  "updatedAt": "2025-06-02T15:51:30.000Z",
  "id": "9zbnLAbVsxrAUUWk",
  "name": "Analyse Concurentielle",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-warefare",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "664ab505-c1a0-45fc-964c-7668d7b2f3f4",
      "name": "Webhook",
      "webhookId": "cac85ded-542a-4f2f-832f-56f5a00e86e6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es « InsightBot », un analyste concurrentiel automatisé qui prends en entrée le site internet du concurrent suivant :  {{ $json.url }}",
        "options": {
          "systemMessage": "=### 1 — Rôle de l’agent\nTu es « InsightBot », un analyste concurrentiel automatisé.  \nTa mission : transformer une URL de site web en un rapport d’analyse concurrentielle clair, fiable et actionnable.\n\n### 2 — Instructions (préface + pas-à-pas)\nPréface : Réponds toujours en français, en texte brut ou en JSON structuré selon la tâche. Sois factuel, concis et cite tes sources internes (ex. balises <source:url>).  \nPas-à-pas :\n1. Accueille la tâche et affiche brièvement le plan que tu vas suivre.  \n2. Récupère (ou attends de recevoir) l’URL cible.  \n3. Explore le site : structure générale, proposition de valeur, produits / services, ton éditorial, technologies remarquables.  \n4. Identifie au moins 3 concurrents directs et 2 indirects ; justifie chaque choix.  \n5. Pour chaque concurrent : synthétise la proposition unique, la stratégie de prix, la distribution et les forces apparentes.  \n6. Élabore une matrice SWOT synthétique pour le site cible.  \n7. Conclus par :  \n   • 3 opportunités clés à court terme,  \n   • 3 risques majeurs,  \n   • 2 axes de différenciation recommandés.  \n8. Fournis l’ensemble dans un objet JSON conforme au schéma donné plus bas.  \n9. Signale toute information manquante ou incertaine avec la clé \"limitations\".\n\n### 3 — Règles à respecter\n• Aucune donnée personnelle sensible ne doit être collectée ou révélée.  \n• Si le site est inaccessible : indique “site_unreachable” et arrête-toi proprement.  \n• Limite la profondeur de crawl à 15 pages pour éviter la surcharge.  \n• Si un concurrent n’est pas clairement identifiable, préfère la transparence (“non_déterminé”).  \n• N’invente jamais de chiffres ; si un KPI est introuvable, marque “NA”.  \n• Gros mot / contenu illicite détecté ? Redige “[contenu modéré]” et poursuis l’analyse.  \n• Respecte la longueur maximum : 5000 tokens de sortie.\n\n### 4 — Exemples\n\n#### 4.1 — Exemple d’appel utilisateur\nInput: { \"url\": \"https://exemple-saas.com\" }\n\n#### 4.2 — Exemple de plan annoncé (abrégé)\nPlan détecté :\n\n1- Audit rapide du site cible\n2- Repérage des concurrents\n3- Analyse SWOT\n4- Recommandations finales",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        420,
        0
      ],
      "id": "89e15629-e6d2-4c45-85d2-8ba733857b4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "perplexity/sonar-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        220
      ],
      "id": "49152027-3764-4aa7-922b-d591dae2e4d4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wcGfU3tMg0EGEz0D",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers[\"cf-ray\"] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        220
      ],
      "id": "2a01a9e4-8a69-429f-9208-783793db8d7c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const parsedBody = JSON.parse(item.json.body);\n\n  item.json.url = parsedBody.url;\n  item.json.email = parsedBody.email;\n\n  return item;\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "073224d2-8fde-4f08-af04-f6d6a548c611",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un rédacteur d'analyse concurrentiel appronfi et tu prends en entrée l'analyse suivante :  {{ $json.output }}",
        "options": {
          "systemMessage": "=1 — Rôle de l’Agent\nVous êtes un Agent IA “Copy-Analyste”.  \nVotre mission : convertir un objet JSON d’analyse concurrentielle en un rapport rédigé, synthétique et parfaitement formaté pour une présentation interne ou un partage client.\n\n2 — Instructions (préface + step-by-step)\n• Travaillez exclusivement en français.  \n• Aucune ligne superflue avant ou après le rapport.  \n• Le rapport final sera remis en **Markdown** (compatible copier-coller vers Notion, Google Docs ou email).\n\nÉTAPES\n1. Tu prends en entrée les informations sur l'entreprise juste ici : {{ $json.output }}  \n2. Structure : organisez le rapport en six sections Markdown :  \n   H2 : Vue d’ensemble  \n   H3 : Proposition de valeur & Audience  \n   H3 : Paysage concurrentiel  \n   H3 : Forces & Faiblesses  \n   H3 : Recommandations prioritaires  \n   H3 : Sources  \n3. Rédaction :  \n   • Réécrivez les informations brutes pour les rendre fluides ; pas de copier-coller intégral.  \n   • Limitez chaque paragraphe à ±100 mots ; listes à puces ≤ 7 éléments.  \n   • Ajoutez, lorsque pertinent, une courte phrase de transition entre sections pour la cohérence narrative.  \n4. Mise en forme :  \n   • Utilisez la syntaxe Markdown : `##`, `###`, `**gras**`, `*italique*`, listes `-`.  \n   • Ne jamais utiliser d’émojis, d’HTML ou de liens nus hors section “Sources”.  \n5. Complétude :  \n   • Si certaines données sont `null` ou manquantes, signalez-le : “Information non fournie”.  \n6. Sortie :  \n   • Retournez UNIQUEMENT le Markdown complet, aucune mention système ou debug.\n\n3 — Règles\n• Strictement aucune hallucination : ne créez pas de chiffres, noms de concurrents ou citations non présents dans le JSON.  \n• N’ajoutez jamais de call-to-action commercial ni de jugement de valeur (“incroyable”, “fantastique”…).  \n• Respect absolu de la casse et des accents français.  \n• Pas d’émojis ni de balises HTML.  \n• Si le JSON comporte > 3 000 caractères, résumez plutôt que de dépasser 800 mots totaux.\n\n",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        780,
        0
      ],
      "id": "397d899f-2ccf-4c45-acab-55aea68590d0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        760,
        200
      ],
      "id": "bfacd8cc-b34a-4f25-92d5-3b82ea00def5",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "wcGfU3tMg0EGEz0D",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers[\"cf-ray\"] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        220
      ],
      "id": "2d938a02-9871-4412-ab9b-3ad5b0a1b523",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code').item.json.email }}",
        "subject": "=L'analyse concurrentielle  de :  {{ $('Code').item.json.url }}",
        "emailType": "text",
        "message": "=Voici ton analyse concurrentielle : {{ $json.output }}\n\n\nhappy conding,\nQuentin",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1140,
        0
      ],
      "id": "f7a710f7-6321-4e4b-9b80-7d381e900225",
      "name": "Gmail",
      "webhookId": "d6c018b6-e0f3-4b16-b084-4484f64a036f"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "quentin-g.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36",
            "content-length": "108",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "154.67.161.64",
            "cf-ew-via": "15",
            "cf-ipcountry": "RE",
            "cf-ray": "938cd23216d973b9-JNB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "text/plain;charset=UTF-8",
            "origin": "https://da350e86-6a73-448b-98b3-5168005e5677.lovableproject.com",
            "priority": "u=1, i",
            "referer": "https://da350e86-6a73-448b-98b3-5168005e5677.lovableproject.com/",
            "sec-ch-ua": "\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "no-cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "154.67.161.64, 197.234.242.89",
            "x-forwarded-host": "quentin-g.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-9-7bb7d4c57c-v9ffw",
            "x-is-trusted": "yes",
            "x-real-ip": "154.67.161.64"
          },
          "params": {},
          "query": {},
          "body": "{\"url\":\"https://www.palantir.com/\",\"email\":\"quentingavila@gmail.com\",\"timestamp\":\"2025-05-01T05:18:54.107Z\"}",
          "webhookUrl": "https://quentin-g.app.n8n.cloud/webhook/data-warefare",
          "executionMode": "production"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "Plan détecté :\n\n1. Audit rapide du site cible  \n2. Repérage des concurrents  \n3. Analyse SWOT  \n4. Recommandations finales  \n\n---\n\n{\n  \"site_cible\": \"https://www.palantir.com/\",\n  \"structure_site\": {\n    \"sections_clés\": [\n      \"Accueil (mise en avant de la prise de décision en temps réel par l’IA pour des secteurs critiques)\",\n      \"Produits (focus sur Gotham, Foundry, et AIP)\",\n      \"Cas d’usages (industrie, défense, secteur public)\",\n      \"À propos (mission, historique de la société)\",\n      \"Newsroom / Lettres (communiqués, lettres du CEO)\"\n    ],\n    \"proposition_valeur\": \"Palantir développe des plateformes logicielles (Gotham, Foundry, AIP) qui permettent l'analyse, l'intégration et la visualisation de données massives pour accélérer la prise de décision humaine assistée par l’intelligence artificielle, en particulier pour les organisations opérant dans des contextes critiques (défense, intelligence, industrie lourde, finance, santé).\",\n    \"offre_produit\": [\n      \"Palantir Gotham (analytique avancée pour le secteur public et défense)\",\n      \"Palantir Foundry (optimisation et intégration de donnée pour l'industrie et le privé)\",\n      \"Palantir AIP (plateforme d’intelligence artificielle pour automatiser et accélérer l’exploitation des données)\"\n    ],\n    \"ton_éditorial\": \"Corporate, analytique, axé sur la mission, technologique, insistant sur la souveraineté occidentale et la sécurité.\",\n    \"technologies_clés\": [\"Big Data\", \"IA décisionnelle et générative\", \"Intégration de sources hétérogènes\", \"Interface utilisateur avancée\", \"Accompagnement sur mesure (embedding d’équipes d’experts chez le client)\"]\n  },\n  \"concurrents\": {\n    \"directs\": [\n      {\n        \"nom\": \"Palantir\",\n        \"justification\": \"Site cible lui-même.\",\n        \"url\": \"https://www.palantir.com\"\n      },\n      {\n        \"nom\": \"Snowflake\",\n        \"justification\": \"Plateforme cloud de gestion et analyse de données à grande échelle pour entreprises (adopte une logique data-centric similaire, moins orientée gouvernement/défense).\",\n        \"url\": \"https://www.snowflake.com\"\n      },\n      {\n        \"nom\": \"Databricks\",\n        \"justification\": \"Plateforme unifiée pour l’analytique, la science des données et l’intelligence artificielle, adressant aussi bien secteur privé que public.\",\n        \"url\": \"https://www.databricks.com\"\n      }\n    ],\n    \"indirects\": [\n      {\n        \"nom\": \"SAS\",\n        \"justification\": \"Fournisseur historique de solutions d’analyse avancée et d’IA, utilisé dans de nombreux secteurs régalien et privé.\",\n        \"url\": \"https://www.sas.com\"\n      },\n      {\n        \"nom\": \"IBM (Watson/Cloud Pak for Data)\",\n        \"justification\": \"Propose des outils puissants pour l’intégration, l’analyse et la gouvernance des données, avec une focalisation IA forte.\",\n        \"url\": \"https://www.ibm.com\"\n      }\n    ]\n  },\n  \"analyse_concurrents\": [\n    {\n      \"nom\": \"Snowflake\",\n      \"proposition_unique\": \"Entrepôt de données cloud natif, hautement scalable, facilitant l’intégration de sources multiples dans une logique SaaS.\",\n      \"stratégie_prix\": \"Facturation à l’usage (Stockage et Computing séparés), modèle flexible et compétitif.\",\n      \"distribution\": \"100% SaaS, adoption facile via marketplace cloud (AWS, Azure, GCP).\",\n      \"forces\": \"Scalabilité, simplicité d’usage, écosystème riche, forte adoption commerciale.\"\n    },\n    {\n      \"nom\": \"Databricks\",\n      \"proposition_unique\": \"Plateforme unifiée pour ingénierie et data science autour de Apache Spark, fort accent sur l’IA et le machine learning collaboratif.\",\n      \"stratégie_prix\": \"Abonnement à l’usage (compute, jobs), freemium limité, optimisé pour l’intégration cloud.\",\n      \"distribution\": \"Cloud natif, intégration AWS/Azure/GCP, cycles de vente orientés équipes data-scientists & IT.\",\n      \"forces\": \"Innovation IA, rapidité d’industrialisation, communauté open-source, leadership sur Spark.\"\n    },\n    {\n      \"nom\": \"SAS\",\n      \"proposition_unique\": \"Solution propriétaire mature en analytique avancée, très présente dans les secteurs régaliens et financiers.\",\n      \"stratégie_prix\": \"License annuelle ou subscription, premium.\",\n      \"distribution\": \"Directe, intégrateurs, partenaires sectoriels.\",\n      \"forces\": \"Legacy institutionnelle, robustesse, réputation sur la confidentialité, support dédié.\"\n    },\n    {\n      \"nom\": \"IBM (Watson/Cloud Pak for Data)\",\n      \"proposition_unique\": \"Suite complète couvrant le cycle de vie des données (data ops, analytics, IA), compatible cloud hybride.\",\n      \"stratégie_prix\": \"Abonnement, tarification modulaire selon modules activés.\",\n      \"distribution\": \"Channel partenaires, direct grands comptes.\",\n      \"forces\": \"Écosystème très large, intégration entreprise (legacy), marque forte, capacités IA avancées.\"\n    }\n  ],\n  \"SWOT\": {\n    \"forces\": [\n      \"Expertise reconnue en analytique et sécurité des données dans des contextes critiques\",\n      \"Logiciels adaptables (Gotham/Foundry) et accompagnement personnalisé\",\n      \"Portefeuille clients d’élite (agences gouvernementales, Fortune 500)\",\n      \"Proaction dans l’intégration IA générative avec AIP\"\n    ],\n    \"faiblesses\": [\n      \"Cycle de vente long, coût d’intégration élevé\",\n      \"Réputation de complexité et de potentiel manque de transparence\",\n      \"Dépendance significative aux marchés publics\"\n    ],\n    \"opportunités\": [\n      \"Explosion de la demande IA/ML dans de nouveaux secteurs (industrie, santé, logistique)\",\n      \"Expansion commerciale hors-de l'univers gouvernemental\",\n      \"Marché de la souveraineté et de la sécurité numérique en Occident\"\n    ],\n    \"menaces\": [\n      \"Montée rapide de concurrents cloud-natifs (Snowflake, Databricks)\",\n      \"Pressions réglementaires liées à la sécurité et la confidentialité des données\",\n      \"Risques de dépendance financière à certains mégacontrats publics\"\n    ]\n  },\n  \"opportunités_court_terme\": [\n    \"Accélérer l’adoption commerciale de la plateforme AIP dans l’industrie privée\",\n    \"Renforcer l’offre self-service/cloud pour diminuer le coût d’entrée\",\n    \"Développer des partenariats sectoriels ciblés (santé, énergie, transports)\"\n  ],\n  \"risques_majeurs\": [\n    \"Arrivée de solutions cloud-IA plus agiles et moins coûteuses\",\n    \"Tensions géopolitiques impactant l’attribution de contrats publics\",\n    \"Critiques sur l’opacité et la gouvernance algorithmique\"\n  ],\n  \"recommandations_différenciation\": [\n    \"Positionner la transparence et l’éthique de l’IA comme axes majeurs de communication\",\n    \"Développer des modules plug-and-play permettant une adoption rapide et partielle des technologies Palantir\"\n  ],\n  \"limitations\": [\n    \"Données financières et KPIs précis non récupérés lors du crawl\",\n    \"Difficulté à connaître le périmètre fonctionnel précis de chaque module logiciel\",\n    \"Absence d’informations détaillées sur le pricing réel sur le site\"\n  ]\n}\n"
        }
      }
    ]
  },
  "versionId": "801a6111-d5be-4334-b6b3-0a25822b65c1",
  "triggerCount": 0,
  "tags": []
}