imagemagick-.json
{
  "createdAt": "2025-08-03T20:49:16.788Z",
  "updatedAt": "2025-08-04T16:07:00.000Z",
  "id": "7SfWe8xFQp4mBbLU",
  "name": "ImageMagick",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "find /data/imagick -maxdepth 1 -type f \\( -iname '*.jpg' -o -iname '*.jpeg' -o -iname '*.png' -o -iname '*.bmp' -o -iname '*.tif' \\) -print"
      },
      "name": "Find Images",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        224,
        240
      ],
      "id": "65732cf7-2ef9-41a7-91e9-b6f7e29c23bd"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.stdout;\nif (!raw) return [];\n\nconst paths = raw.trim().split('\\n');\n\nreturn paths.map(p => ({ json: { path: p } }));\n"
      },
      "name": "Parse File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        240
      ],
      "id": "812c98b7-4ef7-4d0a-bd53-1d5a2c5563da"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=magick \"{{ $json.path }}\" -trim +repage -background white -gravity center -resize 1000x1000^ -extent 1000x1000 \"/data/imagick/converted/{{ $json.path.split('/').pop().replace(/\\.[^/.]+$/, '') }}.webp\" && mv \"{{ $json.path }}\" \"/data/imagick/processed/\"\n"
      },
      "name": "Convert and Move",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "id": "80758b38-c07e-4278-8ebe-cfe1465e97e1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "b4bee2e9-07d6-41b3-a405-1692e0f84246",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Find Images": {
      "main": [
        [
          {
            "node": "Parse File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse File List": {
      "main": [
        [
          {
            "node": "Convert and Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Find Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "66652467-1ba4-465d-b50d-1f7bc799dd49",
  "triggerCount": 0,
  "tags": []
}