n8n-backup-to-github-github.json
{
  "createdAt": "2025-05-22T21:40:21.323Z",
  "updatedAt": "2025-05-24T11:28:30.000Z",
  "id": "VMAh01ISIXoMjHgM",
  "name": "n8n backup to github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6224b4b4-3395-48fc-a4ec-23f43f8e0402",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -140,
        160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "406534c4-f85c-4324-9bca-69f9f392874e",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        520,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "17b999b6-f2b8-4ddf-9ba9-df7f2e76fa28",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        300,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Fandango95real",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Backup",
          "mode": "list",
          "cachedResultName": "n8n_Backup",
          "cachedResultUrl": "https://github.com/Fandango95real/n8n_Backup"
        },
        "filePath": "="
      },
      "id": "7f07086b-fc17-40b0-ab94-7a3a3cac21a6",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        80,
        160
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "MvrrMOg72U43QcKb",
          "name": "GitHub fandango95"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "90bcd872-0e9b-4487-8347-e96474d4c535",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1620,
        60
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "b201a987-4a65-4360-9394-ff36a2e85ce9",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1640,
        240
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "2f1d306d-11a6-44d8-8c76-204fc01fdbb2",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1400,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "36e9c5a6-6882-4a8d-81b5-9566cb030e8f",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        740,
        160
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "56616177-0b27-4d59-9b35-64dcfd79b7af",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        960,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 420,
        "color": 5
      },
      "id": "4a93f33c-8c46-41bc-a98c-38be077cd744",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        40,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "fae6db11-e56c-4693-994a-972abf349625",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1180,
        160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 600,
        "color": 3
      },
      "id": "e9c46e89-8dd4-42a5-9fff-5ee14afd33e9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 720,
        "color": 4
      },
      "id": "3f44f39c-2c00-43f3-8047-1ef14c5083e6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9c909aca-a151-4eba-9efe-aa416e37c4b6",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-05-24T11:19:17.694Z",
      "updatedAt": "2025-05-24T11:19:17.694Z",
      "id": "SQI4TmR1qKNGQabP",
      "name": "github"
    }
  ]
}