nouvelle_boite-.json
{
  "createdAt": "2025-06-02T08:42:40.482Z",
  "updatedAt": "2025-06-02T12:22:15.000Z",
  "id": "vpNo7d00ahU5NFpS",
  "name": "Nouvelle_boite",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        180
      ],
      "id": "e77c060d-d20b-457e-bdf2-1eea06ab8445",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://bodacc-datadila.opendatasoft.com/api/records/1.0/search/?dataset=annonces-commerciales&refine.numerodepartement=33&refine.familleavis=creation&rows=7000&sort=dateparution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        80
      ],
      "id": "151049ef-1ed2-4663-b246-dbe39a2ca505",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appcoaWi0U6IN3NF7",
          "mode": "list",
          "cachedResultName": "Nouvelle Boîte - Youtube",
          "cachedResultUrl": "https://airtable.com/appcoaWi0U6IN3NF7"
        },
        "table": {
          "__rl": true,
          "value": "tbl14QmAI0V2NGULx",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appcoaWi0U6IN3NF7/tbl14QmAI0V2NGULx"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        140,
        360
      ],
      "id": "96466f41-41cb-4d00-95a1-ec29c2b58a80",
      "name": "Airtable"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: Format BODACC JSON data for Airtable\nconst output = [];\n\n// Assuming the input (items[0].json) contains an object with a \"records\" array from BODACC\nconst records = items[0].json.records || [];\nfor (const record of records) {\n    // Create a new object with all fields of the record\n    const formatted = { ...record.fields };\n    \n    // Include record metadata fields\n    formatted.recordid = record.recordid;\n    formatted.datasetid = record.datasetid;\n    formatted.record_timestamp = record.record_timestamp;\n    \n    // Parse JSON string fields into objects (if applicable)\n    for (const key in formatted) {\n        if (typeof formatted[key] === 'string' && \n            (formatted[key].startsWith('{') || formatted[key].startsWith('['))) {\n            try {\n                formatted[key] = JSON.parse(formatted[key]);\n            } catch (error) {\n                // If parsing fails, leave the value as the original string\n            }\n        }\n    }\n    \n    // Add the formatted record to the output array as a separate item\n    output.push({ json: formatted });\n}\n\n// Return the array of formatted records (each as an individual item)\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        80
      ],
      "id": "4738ca7f-d630-4b15-b079-f5f4c2e498ba",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst oneMonthAgo = new Date(now);\noneMonthAgo.setMonth(oneMonthAgo.getMonth() - 1);\n\nconst filteredItems = items.filter(item => {\n  const dateParution = new Date(item.json.dateparution);\n  return dateParution > oneMonthAgo;\n});\n\nreturn filteredItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        80
      ],
      "id": "e99b7ade-b8ee-4e16-8972-f5a8153ff53e",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        480,
        200
      ],
      "id": "4fcd0b81-0126-4c59-ab29-c3c6632af275",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const uniqueKey = 'id';\nconst inputData = items.map(item => item.json);\n\n\nconst dedupedMap = new Map();\nfor (const item of inputData) {\n  const key = item[uniqueKey];\n  if (!dedupedMap.has(key)) {\n    dedupedMap.set(key, item);\n  }\n}\n\nreturn Array.from(dedupedMap.values()).map(json => ({json}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "id": "d957616b-b51c-4b35-afb8-f611479edd3b",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appcoaWi0U6IN3NF7",
          "mode": "list",
          "cachedResultName": "Nouvelle Boîte - Youtube",
          "cachedResultUrl": "https://airtable.com/appcoaWi0U6IN3NF7"
        },
        "table": {
          "__rl": true,
          "value": "tbl14QmAI0V2NGULx",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appcoaWi0U6IN3NF7/tbl14QmAI0V2NGULx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "region_code": 0,
            "numero_annonce": 0,
            "adresse siège social": "={{ $json.listepersonnes.personne.numeroImmatriculation.numeroIdentification }}",
            "activités": "={{ $json.listepersonnes.personne.nom }}",
            "denomination": "={{ $json.listepersonnes.personne.prenom }}",
            "date_commencement_activité": "={{ $json.registre }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "denomination",
              "displayName": "denomination",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activités",
              "displayName": "activités",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "adresse siège social",
              "displayName": "adresse siège social",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_commencement_activité",
              "displayName": "date_commencement_activité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ville",
              "displayName": "ville",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type personne",
              "displayName": "type personne",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "immatriculation",
              "displayName": "immatriculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "RCS",
              "displayName": "RCS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nom greffe",
              "displayName": "nom greffe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "registre",
              "displayName": "registre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ispdf_unitaire",
              "displayName": "ispdf_unitaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cp",
              "displayName": "cp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "région",
              "displayName": "région",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "commerçant",
              "displayName": "commerçant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tribunal",
              "displayName": "tribunal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url complet",
              "displayName": "url complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parution",
              "displayName": "parution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publicationavis_facette",
              "displayName": "publicationavis_facette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "typeavis_lib",
              "displayName": "typeavis_lib",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "typeavis",
              "displayName": "typeavis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "familleavis_lib",
              "displayName": "familleavis_lib",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "famille_avis",
              "displayName": "famille_avis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "departement_nom_officiel",
              "displayName": "departement_nom_officiel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "num_departement",
              "displayName": "num_departement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_parution",
              "displayName": "date_parution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "categorie_creation",
              "displayName": "categorie_creation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region_code",
              "displayName": "region_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "numero_annonce",
              "displayName": "numero_annonce",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_timestamp",
              "displayName": "record_timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        920,
        200
      ],
      "id": "6359cebb-d5e5-4abf-8264-3556a00beb5c",
      "name": "Airtable1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "92878189-3bc4-47cc-89e8-5c1117f6a7ca",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-02T08:42:40.527Z",
      "updatedAt": "2025-06-02T08:42:40.527Z",
      "role": "workflow:owner",
      "workflowId": "vpNo7d00ahU5NFpS",
      "projectId": "Izndf5GBoM9xJxqQ"
    }
  ],
  "tags": []
}